<section class="thirteen columns">
    <h1>Careers</h1>

    <article>
        <header>
            <a href="https://www.hanwhasystems.com/kr/index.do">Hanwha Systems ICT</a> / Research Engineer @ AI/Data사업팀<br/>
        </header>
        <p style="text-indent: 1em;">
          <b>AI Image Restoration Solution</b><br/>
           <br/>
        </p>
        <p style="text-indent: 1em;">
          <b>Chatbot Platform</b><br/>
            - Intent Classification Model <br/>
            - Spacing correction model <br/>
        </p>
    </article>
    
</section>
