<section class="thirteen columns">
    <h1>Careers</h1>

    <article>
        <header>
            <a href="https://www.hanwhasystems.com/kr/index.do">Hanwha Systems ICT</a> / Research Engineer @ AI/Data사업팀<br/>
        </header>
        <p style="margin-left:40px"><strong>AI Image Restoration Solution</strong></p>
        
        <ul>
        	<li style="margin-left: 40px;">Image Restoration Models</li>
        	<li style="margin-left: 40px;">Model Develop Pipeline</li>
        	<li style="margin-left: 40px;">Serving</li>
        	<li style="margin-left: 40px;">mo</li>
        </ul>
        
        <p style="margin-left:40px"><strong>Chatbot Platform</strong></p>
        
        <ul>
        	<li style="margin-left: 40px;">Intent Classification Model</li>
        	<li style="margin-left: 40px;">Spacing Correction Model</li>
        </ul>

    </article>
    
</section>
