<section class="thirteen columns">
    <h1>Careers</h1>

    <article>
        <header>
            <a href="https://www.hanwhasystems.com/kr/index.do">Hanwha Systems ICT</a> / AI Research Engineer @ AI/Data사업팀<br/>
        </header>
        <p>&nbsp;</p>
        <p><strong>AI Image Restoration Solution </strong></p>
        <span>2020.01 - Present</span><br>
        <p>Image Restoration</p>
        <span>&bull; Super Resolution, Deblurring, Low Light Enhancement, Dehazing, Compression Artifact Restoration, ...</span><br>
        <span>&bull; Image Sequence / Video Restoration</span><br>
        <span>&bull; Lightweight Restoration</span><br>
        <span>&bull; 다차로 하이패스 CCTV 영상 개선 (Low Light Enhancement, Dehazing)</span><br>
        <span>&bull; 위성 영상(EO, IR, SAR) 개선</span><br>
        <span>&bull; 자율운항 선박 카메라 영상 개선 (Dehazing)</span><br>
        <span>&bull; 열상 영상 개선 (Super Resolution)</span><br>
        <p>Generative Models</p>
        <span>&bull; Super Resolution, Deblurring, Low Light Enhancement, Dehazing, Compression Artifact Restoration, ...</span><br>
        <span>&bull; Super Resolution, Deblurring, Low Light Enhancement, Dehazing, Compression Artifact Restoration, ...</span><br>
        <p>&bull; Model Develop Framework</p>
        <span>&bull; Super Resolution, Deblurring, Low Light Enhancement, Dehazing, Compression Artifact Restoration, ...</span><br>
        <p>&bull; Model Serving</p>
        <span>&bull; Super Resolution, Deblurring, Low Light Enhancement, Dehazing, Compression Artifact Restoration, ...</span><br>
        <p>&nbsp;</p>
        <p><strong>국방부 C사업</strong></p>
        <span>2022.02 - Present</span><br>
        <p>&bull; Model Serving</p>
        <span>&bull; Super Resolution, Deblurring, Low Light Enhancement, Dehazing, Compression Artifact Restoration, ...</span><br>
        <p>&nbsp;</p>
        <p><strong>Chatbot Platform</strong></p>
        <span>2019.07 - 2020.12</span><br>
        <p>&bull; Intent Classification Model</p>
        <p>&bull; Spacing Correction Model</p>
    </article>
    
</section>
