<section class="thirteen columns">
    <h1>Challenges</h1>

    <article>
        <header>
            
            Winner of the TISR 2022 Challenge at the 18th CVPR IEEE Workshop on PBVS (Evaluation 1 - PSNR)</br>
            <span>2022. 06.</span><br/>
            <span>CVPRW PBVS</span><br/>
            <span>For Achieving 1st place (Evaluation 1 PSNR) on the leaderboard of the Thermal Image Super resolution (TISR) Challenge at the 18th CVPR IEEE Workshop on Perception Beyond the Visible Spectrum (PBVS)</span></br>
        </header>
    </article>

</section>
