<section class="thirteen columns">
    <h1>Challenges</h1>

    <article>
        <header>
            <a href="http://kpat.kipris.or.kr/kpat/biblioa.do?method=biblioFrame&start=biblio&searchFg=N&KeyWord=1020200118816&applno=1020200118816&Gubun=1&sCurrPage=1&searchFg=N&expression=1020200118816&openPageId=View01&isMyConcern=N&isMyFolder=N&config=/main/sharePage_KR.jsp,%20className=jeus_jspwork._main._700_sharePage_5fKR_5fjsp,%20jspUri=%27/main/sharePage_KR.jsp">다중 도메인 영상 복원 시스템 및 방법 (SYSTEM AND METHOD FOR MULTI-DOMAIN IMAGE RESTORATION)</a></br>
            <span>특허 등록일: 2021년 11월 8일</span><br/>
            <span>특허 발행기관·번호: 1020200118816</span><br/>
            <span>다중 도메인 영상 복원 시스템 및 방법이 개시된다. 일 실시예에 따른 다중 도메인 영상 복원 시스템은, 영상을 입력받고, 상기 영상 내의 각각 서로 다른 영역 또는 도메인에 대한 복원을 수행하는 복수의 영상 복원 모듈을 포함하는 도메인 특화 영상 복원 장치; 및 상기 도메인 특화 영상 복원 장치로부터 수신되는 복수의 1차 복원 영상을 합성하여 최종 복원 영상을 생성하는 영상 블렌딩 장치를 포함한다.</span></br>
        </header>
    </article>

</section>
