<section class="thirteen columns">
    <h1>Challenges</h1>

    <article>
        <header>
            Winner of the TISR 2022 Challenge at the 18th CVPR IEEE Workshop on PBVS (Evaluation 1 - PSNR)</br>
            <span>2022. 06.</span><br/>
            <span>CVPRW PBVS</span><br/>
            <span>For Achieving 1st place (Evaluation 1 PSNR) on the leaderboard of the Thermal Image Super resolution (TISR) Challenge at the 18th CVPR IEEE Workshop on Perception Beyond the Visible Spectrum (PBVS)</span></br>
        </header>
        <p></br></p>
        <header>
            2nd place (Track1-Evaluation 1 PSNR) and 4th place (Track2- PSNR/SSIM) of the TISR 2023 Challenge at the 19th CVPR IEEE Workshop on PBVS</br>
            <span>2023. 06.</span><br/>
            <span>CVPRW PBVS</span><br/>
            <span>For Achieving 2nd place (Track1-Evaluation 1 PSNR) and 4th place (Track2- PSNR/SSIM) on the leaderboard of the Thermal Image Super-resolution (TISR) Challenge at the 19th CVPR IEEE Workshop on Perception Beyond the Visible Spectrum (PBVS).</span></br>
        </header>
        <p></br></p>
    </article>

</section>
