<section class="thirteen columns">
    <h1>Education</h1>

    <article>
        <header>
            <em>M.Sc. in Applied Artificial Intelligence</em><br/>
            <span>Sungkyunkwan University</span>
            <span><address>Seoul, Republic of Korea</address><time>Mar 2019 to Present</time></span>
        </header>
    </article>

    <article>
        <header>
            <em>B.S. in Embedded Systems Engineering</em><br/>
            <span>Incheon National University</span>
            <span><address>Incheon, Republic of Korea</address><time>Mar 2012 to Feb 2018</time></span>
        </header>
    </article>

</section>
