<section class="thirteen columns">
    <h1>Experiences</h1>

    <article>
        <header>
            Deep Learning Engineer<br/>
            <span>Hanwha Systems</span>
        </header>
        <p>
          <em>Mar 2020 to Present - Working in AI Business.</em> <br> Jan 2018 to Feb 2020 - Working in Insurance IT Business.
        </p>
    </article>

    <article>
        <header>
            Intern<br/>
            <span>KIA Motors Corporation</span>
        </header>
        <p>
          Summer Internship. Working in Information Technology department.
        </p>
    </article>
</section>
