<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            맞춤형 AI 동화책 서비스 <a href="https://andersonai.oopy.io/">안데르센</a><br/>
            <span>&bull; 동화 생성 LM 담당</span>
            <span>&bull; 삽화 생성 모델 담당</span>
            <span>&bull; 모델 서빙 담당</span>
            <span>&bull; </span>
        </header>
    </article>

<!--
    <article>
        <header>
            웹캠/웨어러블 디바이스를 활용, 운동 자세 정확도를 피드백 해주는 개인 트레이너<br/>
            National SemiFinalist 수상,
            <span>ImagineCup Innovation 부문, Microsoft (Dec 2015 - Mar 2016)</span>
        </header>
    </article>
-->
</section>
