<section class="thirteen columns">
    <h1>Projects</h1>
    <article>
        <header>
            <a href="https://andersonai.oopy.io/">맞춤형 AI 동화책 서비스 안데르센AI</a><br/>
            <span>2023. 03. - 2023. 09.</span><br/>
            <span>&bull; LLM 기반 동화 생성 파이프라인 담당</span><br/>
            <span>&bull; 삽화 이미지 생성 모델 개발, 파인튜닝 담당</span><br/>
            <span>&bull; 모델 서빙 담당</span><br/>
        </header>
    </article>

<!--
    <article>
        <header>
            웹캠/웨어러블 디바이스를 활용, 운동 자세 정확도를 피드백 해주는 개인 트레이너<br/>
            National SemiFinalist 수상,
            <span>ImagineCup Innovation 부문, Microsoft (Dec 2015 - Mar 2016)</span>
        </header>
    </article>
-->
</section>
