<section class="thirteen columns">
    <h1>Publications</h1>

    <article>
        <header>
            AFA-Net: Adaptive Feature Attention Network in Image Deblurring and Super-Resolution for Improving License Plate Recognition<br/>
            <span>Dogun Kim, <em>Jin Kim</em>, Eunil Park.</span><br/>
            <span>Computer Vision and Image Understanding.</span>
        </header>
        <p></br></p>
        <header>
            Thermal Image Super-Resolution Challenge Results - PBVS 2022<br/>
            <span>Rafael E. Rivadeneira, Angel D. Sappa, Boris X. Vintimilla, <em>Jin Kim</em>, Dogun Kim, Zhihao Li, Yingchun Jian, Bo Yan, Leilei Cao, Fengliang Qi, Hongbin Wang, Rongyuan Wu, Lingchen Sun, Yongqiang Zhao, Lin Li, Kai Wang, Yicheng Wang, Xuanming Zhang, Huiyuan Wei, Chonghua Lv, Qigong Sun, Xiaolin Tian, Zhuang Jia, Jiakui Hu, Chenyang Wang, Zhiwei Zhong, Xianming Liu, Junjun Jiang</span><br/>
            <span>Proceedings of the IEEE/CVF Conference on Computer Vision and Pattern Recognition (CVPR) Workshops, 2022, pp. 418-426 </span>
        </header>
        <p></br></p>
        <header>
            Deep Spectral-Spatial Network for Single Image Deblurring<br/>
            <span>Seokjae Lim, <em>Jin Kim</em>, Wonjun Kim.</span><br/>
            <span>IEEE Signal Processing Letters (Volume: 27).</span>
        </header>
        <p></br></p>
        
    </article>

</section>
