<section class="thirteen columns">
    <h1>Skills & Experience</h1>

    <article>
        <header>
            Image Restoration<br/>
            <span>&bull; Super Resolution, Deblurring, Low Light Enhancement, Dehazing, Compression Artifact Restoration, ...</span><br/>
            <span>&bull; Image Sequence / Video Restoration</span><br/>
            <span>&bull; Lightweight Restoration</span><br/>
            <span>&bull; 다차로 하이패스 CCTV 영상 개선 (Low Light Enhancement, Dehazing)</span><br/>
            <span>&bull; 위성 영상(EO, IR, SAR) 개선</span><br/>
            <span>&bull; 자율운항 선박 카메라 영상 개선 (Dehazing)</span><br/>
            <span>&bull; 열상 영상 개선 (Super Resolution)</span><br/>
        </header>
        <header>
            Generative Modeling<br/>
            <span>&bull; Image Generation</span><br/>
            <span>&bull; Dataset Generation</span><br/>
            <span>&bull; Style transfer</span><br/>
        </header>
        <header>
            Model Inference & Serving<br/>
            <span>&bull; TensorRT</span><br/>
            <span>&bull; Triton</span><br/>
            <span>&bull; Backend API server</span><br/>
        </header>
        <header>
            NLP<br/>
            <span>&bull; Image Captioning</span><br/>
            <span>&bull; Intent Classification</span><br/>
            <span>&bull; Spacing Correction</span><br/>
        </header>
    </article>
    
</section>
